<main>
  <aside class="sideBar">
    <p-drawer [(visible)]="visible" class="sideBarTitle">
      <nav class="sidebarMenu">
        <div>
          <a href="/">
            <i class="pi pi-home"></i>
          </a>
          <ul>
            <li>
              <a href="productores">Productores</a>
            </li>
            <li>
              <a href="mayoristas">Mayorista</a>
            </li>
          </ul>
        </div>
      </nav>
    </p-drawer>
    <p-button (click)="visible = true" icon="pi pi-bars" />
  </aside>
  <section class="contain">
    <router-outlet/>
  </section>
</main>
